<div class="card text-center">
    <div class="card-header">
        Hold up..
    </div>
    <div class="card-body">
        <h1 class="card-title">Not Found</h1>
        <img mat-card-image class="spongebob-image" src="https://c.tenor.com/UcSdn5NQT6cAAAAd/usual-suspects.gif"
            alt="How did you get here??">
        <br>
        <br>
        <h3 class="card-text">We can't find what you're looking for</h3>
        <a routerLink="/newReleases" class="btn btn-primary">Take me back</a>
    </div>
</div>