<div class="jumbotron">
    <p class="lead">Who is Xavier Alejandro Lozano?</p>
    <hr class="my-4">
    <p>I was that kid at school that left the computer’s disk drive on an open/close loop at the library.
        Ever since I took Java in High School, programming has been my passion.
        I was amazed to realize just how much I could accomplish with a few simple instructions and a bit of ingenuity.
        Throughout post secondary, I seeked to learn more about programming with hands-on languages such as Fortran,
        Unix, C and C++, and eventually decided to focus on website development. Learning to style pages using HTML and
        CSS gravitated me towards the JavaScript that manipulated it, which in turn gravitated me to learn the Node.js,
        JavaScript ES6, and Handlebars used by servers to render multiple pages to people around the globe.
        Currently, I am learning to use Angular and React in an attempt to be more updated with the current solutions.
        I am still going strong today as I seek new challenges to overcome in the endless road of web development
        through personal projects and online courses.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-md" href="https://xavi-alejandro-portfolio.herokuapp.com/" target="_blank" role="button">Check out my portfolio</a>
    </p>
</div>